<br/>
<h3><%=h @ad.title %></h3>
<h1>Make: <%= @ad.car_make.to_s %></h1>
<h1>Model: <%= @ad.car_model.to_s %></h1>
<h1>Color: <%= @ad.car_color.to_s %></h1>
<h1>Year: <%= @ad.manufacture_year.to_s %></h>
<h1>Running km: <%= @ad.running_km.to_s %></h>
<h1>Price: <%= @ad.price.to_s %></h1>
<h1>Reply to: <%= @ad.email.to_s %></h1>
<h1>Posted Date: <%= @ad.created_at.to_s %></h1>
<br/>

<p><%=h @ad.ad %></p>

<% @ad.ad_images.each do |ad_image| %>
  <%= link_to image_tag(ad_image.public_filename(:show)), ad_image.public_filename, :target => "_blank" %>  
<% end %>